html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #6b6b6b;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  padding: 0 10px;
  margin: 0 auto;
}

.list {
  position: relative;
}

.list::after {
  position: absolute;
  content: "";
  right: 5px;
  top: 17px;
  border: 5px solid transparent;
  border-top-color: black;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.header-top {
  background-color: #000;
}

.header-top__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Arial', sans-serif;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: #ffffff;
  text-transform: uppercase;
}

.header-top__panel-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top__currency {
  position: relative;
}

.header-top__currency-list {
  z-index: 15;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: -500%;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 80px;
}

.header-top__currency-list.open {
  top: 30px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header-top__currency-item.open {
  opacity: 1;
  background-color: #000;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header-top__currency-item {
  opacity: 0;
  margin-bottom: 0;
  background-color: transparent;
  border-top: 1px solid #444444;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header-top__currency-link {
  display: block;
  padding: 0 30px 0 23px;
  border-left: 1px solid #444444;
}

.header-top .list::after {
  position: absolute;
  content: "";
  right: 11px;
  top: 13px;
  border: 5px solid transparent;
  border-top-color: #c1c1c1;
}

.header-top__account-link {
  position: relative;
  display: inline-block;
  padding: 0 13px 0 38px;
  border-left: 1px solid #444444;
}

.header-top__account-link::before {
  position: absolute;
  left: 15px;
  font-family: 'icomoon';
  content: "\e903";
}

.header-top__search {
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
}

.header-top__search-link {
  display: inline-block;
  padding: 0 9px 0 9px;
  vertical-align: middle;
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  font-size: 16px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  letter-spacing: -0.5px;
  color: #000000;
  z-index: 10;
}

.main-navigation__item {
  position: relative;
}

.main-navigation__item-link {
  position: relative;
  padding-right: 17px;
  padding-bottom: 15px;
}

.main-navigation__item-link::after {
  position: absolute;
  content: "";
  right: 0;
  top: 7px;
  border: 5px solid transparent;
  border-top-color: black;
}

.main-navigation__item:hover .main-navigation__sublist {
  top: 20px;
  opacity: 1;
  visibility: visible;
}

.main-navigation__item .main-navigation__sublist {
  margin-top: 10px;
  position: absolute;
  text-align: center;
  right: -15px;
  min-width: 150px;
  top: 300%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-navigation__item .main-navigation__sublist-item {
  border: 1px solid #c7c8ca;
  background-color: #e4e1e1;
}

.main-navigation__item .main-navigation__sublist-link {
  display: block;
  padding: 10px;
}

.main-navigation__item .main-navigation__extra-sublist {
  opacity: 0;
  position: absolute;
  right: -85px;
  top: 40%;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding-left: 5px;
}

.main-navigation__item .main-navigation__extra-sublist .main-navigation__extra-sublist-item {
  border: 1px solid #c7c8ca;
  background-color: #e4e1e1;
}

.main-navigation__item .main-navigation__extra-sublist .main-navigation__extra-sublist-link {
  display: block;
  padding: 10px;
}

.main-navigation__item .main-navigation__sublist-item:hover .main-navigation__extra-sublist {
  opacity: 1;
  top: 20%;
  visibility: visible;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-navigation__item .main-navigation__sublist-item:hover .main-navigation__extra-sublist-item,
.main-navigation__item .main-navigation__sublist-item:hover .main-navigation__sublist-item {
  background-color: #413f3f;
  color: #fff;
}

.main-navigation__item + .main-navigation__item {
  margin-left: 42px;
}

.main-navigation__item input {
  padding: 10px 10px 10px 8px;
  max-width: 215px;
}

.main-navigation #cart-count {
  text-align: right;
}

.main-navigation .main-navigation__cart-count {
  position: relative;
}

.main-navigation .main-navigation__cart-count::before {
  position: absolute;
  content: "\e900";
  left: 10px;
  top: 10px;
  color: #a2a1a1;
  font-family: 'icomoon';
}

.main-navigation .main-navigation__cart {
  position: relative;
}

.main-navigation .main-navigation__cart::after {
  position: absolute;
  content: "";
  right: 13px;
  top: 17px;
  border: 5px solid transparent;
  border-top-color: #a2a1a1;
}

.main-slider {
  background-color: #fff;
  padding-bottom: 70px;
}

.slider {
  position: relative;
}

.slider__item {
  position: relative;
  min-height: 440px;
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #f6f3ec;
  outline: none;
}

.slider__item::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: 7px;
  width: 100%;
}

.slider__text {
  max-width: 450px;
  color: #78645d;
  text-align: center;
}

.slider__text-top {
  display: inline-block;
  position: relative;
  padding-top: 40px;
  font-family: 'Luxury Royale JF', serif;
  font-size: 36px;
}

.slider__text-top::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 1px;
  right: 88px;
  bottom: 15px;
  background-color: #78645d;
}

.slider__text-top::after {
  position: absolute;
  content: "";
  width: 75px;
  height: 1px;
  left: 88px;
  bottom: 15px;
  background-color: #78645d;
}

.slider__text-head {
  position: relative;
  display: inline-block;
  font-family: 'HelveticaNeueLTStd HvCn', sans-serif;
  text-transform: uppercase;
  font-size: 96px;
  line-height: 72px;
  margin: 5px;
  padding: 0;
  padding-bottom: 5px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#d99dcf), color-stop(#e0a3c1), color-stop(#e6a9b2), color-stop(#edafa4), color-stop(#f3b595), color-stop(#fabb87), color-stop(#f9ba80), color-stop(#f8ba78), color-stop(#f8b971), color-stop(#f7b869), color-stop(#f6b862), to(#f5b75a));
  background-image: linear-gradient(to bottom right, #d99dcf, #e0a3c1, #e6a9b2, #edafa4, #f3b595, #fabb87, #f9ba80, #f8ba78, #f8b971, #f7b869, #f6b862, #f5b75a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.slider__text-head::before {
  position: absolute;
  content: "";
  width: 350px;
  height: 4px;
  left: 45px;
  bottom: -5px;
  background-color: #78645d;
}

.slider__text-head::after {
  position: absolute;
  content: "";
  width: 350px;
  height: 1px;
  left: 45px;
  bottom: -10px;
  background-color: #78645d;
}

.slider__text-subhead {
  font-family: 'HelveticaNeueLTStd LtCn', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.slider__text-btn {
  position: relative;
  font-family: 'HelveticaNeueLTStd Th', sans-serif;
  font-size: 16px;
  display: inline-block;
  text-transform: uppercase;
  padding: 20px 40px 17px 20px;
  border-bottom: 3px solid #dd6b44;
  background-color: #fd926d;
  color: #ffffff;
  outline-color: #c66949;
}

.slider__text-btn::after {
  position: absolute;
  content: "";
  right: 10px;
  top: 24px;
  border: 5px solid transparent;
  border-left-color: #fff;
}

.slick-prev,
.slick-next {
  position: absolute;
  width: 30px;
  height: 120px;
  background-color: #fff;
  z-index: 6;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 0;
  -webkit-box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.4);
}

.slick-prev:hover slick-prev.slick-arrow::before,
.slick-next:hover slick-prev.slick-arrow::before {
  font-size: 50px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slick-next {
  -webkit-box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.4);
          box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.4);
}

.slick-prev.slick-arrow {
  left: 0;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-prev.slick-arrow::before {
  position: absolute;
  font-family: 'icomoon';
  content: "\e905";
  color: #cbcbca;
  left: -3px;
  top: 39px;
  font-size: 36px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slick-next.slick-arrow {
  right: 0;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-next.slick-arrow::before {
  position: absolute;
  font-family: 'icomoon';
  content: "\e904";
  color: #cbcbca;
  right: -3px;
  top: 39px;
  font-size: 36px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.slick-next.slick-arrow::before:hover {
  font-size: 40px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: absolute;
  left: 43%;
  bottom: -50px;
}

.slick-dots button {
  border: none;
  background-color: #867a76;
  font-size: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
}

.slick-dots .slick-active button {
  background-color: #fd926d;
}

.payment {
  background-color: #f7f7f7;
}

.payment__caption {
  color: rgba(65, 65, 65, 0.5);
  margin-right: 15px;
}

.payment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.payment__img {
  margin-left: 10px;
}

.payment__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-helper {
  background-image: url(../img/secured.png);
  background-repeat: no-repeat;
  background-position: 95%;
  background-color: #ededed;
  padding-top: 25px;
}

.user-helper__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.user-helper__list-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #544f4d;
  margin-bottom: 15px;
}

.user-helper__list-item {
  line-height: 18px;
  color: rgba(84, 79, 77, 0.7);
}

.user-helper__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 135px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.user-helper__social-item {
  margin-right: 10px;
  margin-bottom: 8px;
}

.user-helper__social-item :nth-child(3n) {
  margin-right: 0;
}

.user-helper__social-item-link {
  display: block;
  padding: 8px;
  width: 35px;
  height: 35px;
  background-color: #544f4d;
  border-radius: 50%;
  font-size: 18px;
  color: #ffffff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.user-helper__social-item-link:hover {
  background-color: #fff;
  color: #544f4d;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.footer-bottom {
  background-color: #000000;
}

.footer-bottom__content {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  color: #8d8d8d;
}

.footer-bottom__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__list-item-link {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 2px solid #8d8d8d;
}

.footer-bottom__list-item:last-child .footer-bottom__list-item-link {
  padding-right: 0;
  border-right: none;
}

.footer-bottom__copyright {
  text-align: right;
  line-height: 18px;
}

.contacts {
  background-color: #ededed;
  overflow: hidden;
}

.contacts__content {
  line-height: 55px;
  letter-spacing: -0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__email {
  position: relative;
}

.contacts__email-label {
  margin-right: 8px;
}

.contacts__email-input {
  font-style: italic;
  padding: 8px 20px 8px 10px;
  border: none;
  outline-color: #eaa867;
}

.contacts__email-btn {
  position: absolute;
  border: none;
  border-bottom: 3px solid #dd6b44;
  outline: none;
  color: #ffffff;
  background-color: #fd926d;
  cursor: pointer;
  height: 29px;
  width: 28px;
  right: 0;
  top: 13px;
}

.contacts__email-btn::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 11px;
  height: 3px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contacts__email-btn::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 3px;
  height: 11px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__socials-label {
  margin-right: 10px;
}

.contacts__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.contacts__socials-link {
  padding: 22px 17px;
  font-size: 22px;
  background-color: transparent;
  vertical-align: middle;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.contacts__socials-link:hover {
  background-color: #f7f7f7;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.hot-collections {
  padding-top: 40px;
  padding-bottom: 52px;
}

.hot-collections a {
  display: block;
}

.hot-collections__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 340px;
  text-transform: uppercase;
  text-align: center;
}

.hot-collections__single-box {
  display: block;
  background-image: url(../img/single-box-item.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  max-width: 484px;
  width: 100%;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2px;
}

.hot-collections__triple-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.single-box-main {
  margin-left: auto;
  margin-right: 30px;
  max-width: 300px;
  padding: 5px;
  padding-top: 65px;
}

.single-box-main__top-text {
  font-family: 'HelveticaNeueLTStd BlkCn', sans-serif;
  font-size: 34px;
  line-height: 20px;
  color: #414141;
}

.single-box-main__title {
  font-family: 'HelveticaNeueLTStd ThCn', sans-serif;
  font-size: 74px;
  color: #414141;
}

.single-box-main__symbol {
  position: relative;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin: -10px auto;
  padding: 3px;
  font-family: 'HelveticaNeueLTStd LtIt', sans-serif;
  font-size: 22px;
  color: #ffffff;
  background-color: #414141;
}

.single-box-main__symbol::before {
  position: absolute;
  content: "";
  width: 87px;
  height: 1px;
  right: 35px;
  bottom: 15px;
  background-color: #414141;
}

.single-box-main__symbol::after {
  position: absolute;
  content: "";
  width: 87px;
  height: 1px;
  left: 35px;
  bottom: 15px;
  background-color: #414141;
}

.single-box-main__subtitle {
  font-family: 'HelveticaNeueLTStd BlkCn', sans-serif;
  font-size: 82px;
  color: #4fafa0;
}

.triple-box-big {
  position: relative;
  height: 169px;
  max-width: 484px;
  width: 100%;
  background-image: url(../img/triple-box-big.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.triple-box-big__circle-shadow {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: #4fafa0;
  border-radius: 50%;
  left: 30px;
  top: 20px;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(79, 175, 160, 0.004);
          box-shadow: 0px 4px 0px 0px rgba(79, 175, 160, 0.004);
  z-index: 0;
}

.triple-box-big__circle {
  position: relative;
  width: 130px;
  height: 130px;
  background-color: #fff;
  border-radius: 50%;
  padding: 20px 2px 2px 2px;
  margin-left: 30px;
  margin-top: 16px;
}

.triple-box-big__circle::before {
  position: absolute;
  content: "";
  width: 122px;
  height: 122px;
  border: 1px solid #daeaeb;
  border-radius: 50%;
  left: 4px;
  top: 4px;
}

.triple-box-big__top-text {
  font-family: 'BelloScript';
  font-size: 22px;
  text-transform: capitalize;
  color: #ffa687;
}

.triple-box-big__title {
  font-family: 'HelveticaNeueLTStd UltLtCn', sans-serif;
  font-size: 42px;
  color: #c1aea8;
}

.triple-box-big__subtitle {
  font-family: 'HelveticaNeueLTStd BdCn', sans-serif;
  font-size: 14px;
  color: #6a6a6a;
}

.triple-box-small {
  color: #ffffff;
  max-width: 241px;
  height: 169px;
  width: 100%;
  margin-right: 2px;
  margin-top: 2px;
}

.triple-box-small__btn {
  position: relative;
  font-family: "HelveticaNeueLTStd Lt";
  font-size: 12px;
  line-height: 30px;
  margin-top: 12px;
}

.triple-box-small .list::after {
  right: 25px;
  top: 10px;
  border: 5px solid transparent;
  border-left-color: #fff;
}

.triple-box-small__link {
  display: inline-block;
  font-size: 12px;
  font-family: "HelveticaNeueLTStd Lt", sans-serif;
  line-height: 30px;
  padding: 0 25px 0 7px;
  background-color: #4fafa0;
}

.triple-box-small__content {
  max-width: 150px;
  padding-left: 16px;
  padding-top: 45px;
}

.small-item--1 {
  position: relative;
  background-image: url(../img/triple-box-small-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  font-family: "HelveticaNeueLTStd UltLtCn";
  font-size: 34px;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.19);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 8px;
  -webkit-box-shadow: inset 0px -17px 39px -21px rgba(0, 0, 0, 0.75);
          box-shadow: inset 0px -17px 39px -21px rgba(0, 0, 0, 0.75);
  padding-right: 20px;
}

.small-item--1::before {
  position: absolute;
  content: "\e904";
  font-family: 'icomoon';
  right: 15px;
  bottom: 12px;
  font-size: 26px;
}

.small-item--2 {
  background-image: url(../img/triple-box-small-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  font-size: 24px;
  font-family: "HelveticaNeueLTStd Cn";
  line-height: 30px;
}

.products__tabs {
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #555555;
  letter-spacing: -0.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 500px;
  padding: 0;
  margin-bottom: 0;
}

.products__tab {
  cursor: pointer;
  padding: 12px 14px 14px 12px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.products__tab.current {
  background-color: #fd926d;
  color: #ffffff;
}

.products__tab-content {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 455px;
  width: 100%;
  background-color: #fd926d;
}

.products__slider .slick-slide {
  margin-right: 30px;
  margin-left: 30px;
}

.products__slider-item-link {
  position: relative;
  display: block;
  cursor: pointer;
  outline: none;
}

.products__slider-item:hover .products__slider-item-link {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.products__slider-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.products__slider-item:hover .products__slider-item-link::before,
.products__slider-item:hover .products__slider-item-link::after {
  opacity: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.products__slider-item-link::before {
  opacity: 0;
  position: absolute;
  content: "\e901";
  font-family: 'icomoon';
  top: 100px;
  left: 43px;
  width: 132px;
  height: 132px;
  background-color: #3d3d3d;
  border-radius: 50%;
  color: #ffffff;
  z-index: 5;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 30px;
  padding-top: 30px;
}

.products__slider-item-link::after {
  opacity: 0;
  position: absolute;
  content: "shop it";
  color: #ffffff;
  z-index: 5;
  top: 44%;
  left: 85px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.products__slider-item {
  height: 415px;
  width: 220px;
  letter-spacing: -0.1px;
  color: #373737;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
  outline: none;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.products__slider-item-content {
  position: relative;
  padding-bottom: 8px;
  width: 220px;
  background-color: #ffffff;
}

.products__slider-item-img {
  height: 290px;
  width: 220px;
  margin-bottom: 8px;
}

.products__slider-item-content.sale::after {
  content: "";
  position: absolute;
  background-image: url(../img/sale.png);
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

.products__slider-item-title {
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
}

.products__slider-item-price {
  font-size: 22px;
  margin-top: 8px;
}

.products__slider-item-btn {
  position: relative;
  border: none;
  border-bottom: 3px solid #dd6b44;
  outline-color: #c66949;
  background-color: #fd926d;
  color: #ffffff;
  text-transform: uppercase;
  padding: 9px 30px 9px 9px;
  margin-top: 8px;
  cursor: pointer;
}

.products__slider-item-btn::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 11px;
  height: 3px;
  right: 8px;
  top: 49%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products__slider-item-btn::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 3px;
  height: 11px;
  right: 12px;
  top: 49%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products .slick-prev,
.products .slick-next {
  position: absolute;
  width: 47px;
  height: 48px;
  background-color: #f2f2f2;
  z-index: 6;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  right: 456px;
  top: -54px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.products .slick-prev:hover,
.products .slick-next:hover {
  background-color: #fd926d;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.products .slick-arrow:hover::before {
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.products .slick-next {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.products .slick-prev.slick-arrow {
  left: 1328px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products .slick-prev.slick-arrow::before {
  position: absolute;
  font-family: 'icomoon';
  content: "\e905";
  top: 50%;
  left: 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.products .slick-next.slick-arrow {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.products .slick-next.slick-arrow::before {
  position: absolute;
  font-family: 'icomoon';
  content: "\e904";
  left: -3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.clearance__sticker {
  position: relative;
  font-family: 'a Empirial', sans-serif;
  background-image: url(../img/clearance.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 165px;
  height: 165px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 25px;
  margin: 20px auto;
}

.clearance__sticker::before {
  position: absolute;
  content: "";
  width: 390px;
  height: 1px;
  background-color: #d8d8d8;
  top: 50%;
  left: 175px;
}

.clearance__sticker::after {
  position: absolute;
  content: "";
  width: 390px;
  height: 1px;
  background-color: #d8d8d8;
  top: 50%;
  right: 175px;
}

.clearance__title {
  font-size: 36px;
}

.clearance__discount {
  position: relative;
  margin-top: 8px;
  margin-right: 20px;
  font-size: 81px;
  line-height: 60px;
  letter-spacing: -2.5px;
}

.clearance__discount::before, .clearance__discount::after {
  position: absolute;
  font-size: 36px;
  letter-spacing: -1px;
}

.clearance__discount::before {
  content: "%";
  top: -15px;
  right: 36px;
}

.clearance__discount::after {
  content: "off";
  top: 14px;
  right: 31px;
}

.clearance__items {
  max-width: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}

.clearance__item {
  max-width: 220px;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.clearance__item:hover {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.clearance__item:nth-child(4n) {
  margin-right: 0;
}

.clearance__item-content {
  position: relative;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  padding-bottom: 10px;
}

.clearance__item-content.sale::after {
  content: "";
  position: absolute;
  background-image: url(../img/sale.png);
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

.clearance__item-img {
  width: 220px;
}

.clearance__item-title {
  margin-top: 8px;
}

.clearance__item-price {
  margin-top: 8px;
  font-size: 22px;
}

.clearance__item-btn {
  position: relative;
  border: none;
  border-bottom: 3px solid #dd6b44;
  outline-color: #c66949;
  background-color: #fd926d;
  color: #ffffff;
  text-transform: uppercase;
  padding: 9px 30px 9px 9px;
  margin-top: 8px;
  cursor: pointer;
}

.clearance__item-btn::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 11px;
  height: 3px;
  right: 8px;
  top: 49%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.clearance__item-btn::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 3px;
  height: 11px;
  right: 12px;
  top: 49%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.brands {
  position: relative;
  padding-bottom: 20px;
}

.brands::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
}

.brands__title {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.brands__title::before {
  position: absolute;
  content: "";
  left: 772px;
  top: 8px;
  width: 80%;
  height: 1px;
  background-color: #d8d8d8;
}

.brands__title::after {
  position: absolute;
  content: "";
  right: 772px;
  top: 8px;
  width: 80%;
  height: 1px;
  background-color: #d8d8d8;
}

.owl-carousel .owl-item img {
  width: auto;
  margin: 0 auto;
}

.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  text-align: center;
  letter-spacing: -0.1px;
}

.about__title {
  font-size: 24px;
  color: #414141;
  margin-bottom: 13px;
}

.about__text {
  font-size: 14px;
  line-height: 18px;
  color: #999999;
  padding-bottom: 25px;
}

@media (max-width: 1400px) {
  .products .slick-prev,
  .products .slick-next {
    left: 1108px;
  }
  .products .slick-prev.slick-arrow {
    left: 1061px;
  }
  .products .slick-prev.slick-arrow::before {
    top: 50%;
    left: 7px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .products .slick-next.slick-arrow::before {
    left: -3px;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
