// Header-top

.header-top {

   background-color: #000;

   &__panel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: 'Arial', sans-serif;
      line-height: 30px;
      letter-spacing: -0.5px;
      color: #ffffff;
      text-transform: uppercase;

      &-right {
         display: flex;
         justify-content: space-between;

      }
   }

   &__phone {}

   &__phone-label {}

   &__phone-link {}

   &__currency {
      position: relative;
   }

   &__currency-list {
      z-index: 15;
      position: absolute;
      padding: 0;
      margin: 0;
      left: 0;
      top: -500%;
      text-align: center;
      transition: all .5s ease;
      width: 80px;
   }

   &__currency-list.open {
      top: 30px;
      transition: all .5s ease;
   }

   &__currency-item.open {
      opacity: 1;
      background-color: #000;
      transition: all .5s ease;
   }

   &__currency-item {
      opacity: 0;
      margin-bottom: 0;
      background-color: transparent;
      border-top: 1px solid #444444;
      transition: all .5s ease;
   }

   &__currency-link {
      display: block;
      padding: 0 30px 0 23px;
      border-left: 1px solid #444444;
   }

   &__currency-link.current {}



   .list::after {
      position: absolute;
      content: "";
      right: 11px;
      top: 13px;
      border: 5px solid transparent;
      border-top-color: #c1c1c1;
   }

   &__account {}

   &__account-link {
      position: relative;
      display: inline-block;
      padding: 0 13px 0 38px;
      border-left: 1px solid #444444;

      &::before {
         position: absolute;
         left: 15px;
         font-family: 'icomoon';
         content: "\e903";
      }
   }

   &__search {
      border-left: 1px solid #444444;
      border-right: 1px solid #444444;
   }

   &__search-link {
      display: inline-block;
      padding: 0 9px 0 9px;
      vertical-align: middle;
      transform: scale(-1, 1);
      font-size: 16px;
   }

}

// Header-top

// Header-main

.header-main {}

.logo {

   &__link {}
}

.main-navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
      letter-spacing: -0.5px;
      color: #000000;
      z-index: 10;
   }

   &__item {
      position: relative;



      &-link {
         position: relative;
         padding-right: 12px;
         padding-bottom: 10px;

         &::after {
            position: absolute;
            content: "";
            right: -8px;
            top: 7px;
            border: 5px solid transparent;
            border-top-color: black;
         }
      }

      &:hover .main-navigation__sublist {
         display: block;
      }

      .main-navigation__sublist {
         display: none;
         margin-top: 10px;
         position: absolute;
         text-align: center;
         right: -30px;
         min-width: 150px;
      }

      .main-navigation__sublist-item {
         border: 1px solid #c7c8ca;
         background-color: #e4e1e1;
      }

      .main-navigation__sublist-link {
         display: block;
         padding: 10px;
      }

      .main-navigation__extra-sublist {
         display: none;
         position: absolute;
         right: -85px;
         top: 0;

         .main-navigation__extra-sublist-item {
            border: 1px solid #c7c8ca;
            background-color: #e4e1e1;
         }

         .main-navigation__extra-sublist-link {
            display: block;
            padding: 10px;
         }
      }

      li:hover ul {
         display: block;
      }

      li:hover .main-navigation__extra-sublist-item,
      li:hover .main-navigation__sublist-item {
         background-color: #413f3f;
         color: #fff;
      }
   }




   &__item+&__item {
      margin-left: 42px;
   }


}

.main-navigation__item input {
   padding: 10px 10px 10px 8px;
   max-width: 215px;
}

.main-navigation {

   #cart-count {
      text-align: right;
   }

   .main-navigation__cart-count {
      position: relative;


      &::before {
         position: absolute;
         content: "\e900";
         left: 10px;
         top: 10px;
         color: #a2a1a1;
         font-family: 'icomoon';
      }
   }

   .main-navigation__cart {
      position: relative;

      &::after {
         position: absolute;
         content: "";
         right: 13px;
         top: 17px;
         border: 5px solid transparent;
         border-top-color: #a2a1a1;
      }
   }

}

// Header-main 