@media(max-width: 1650px) {

   .slider {

      &__item {
         background-position: 77%;
      }
   }
}

@media(max-width: 1400px) {

   .slider {

      &__item {
         background-position: 88%;
      }

      .slick-dots {
         left: 50%;
         transform: translateX(-50%);
      }
   }

}

@media(max-width: 1300px) {
   .user-helper {
      background-image: none;
   }
}

@media(max-width: 1150px) {

   .slider {

      &__item {
         background-position: 113%;
      }
   }

   .brands__title {

      &::before {
         left: 57%;
      }

      &::after {
         right: 57%;
      }
   }
}

@media(max-width: 1000px) {

   .slider {

      &__item {
         background-position: 135%;

      }
   }

   .hot-collections {

      &__content {
         height: 260px;
         width: 730px;
         margin: 0 auto;
      }

      &__single-box {
         height: 256px;
      }

      &__triple-box {
         height: 256px;
      }
   }


   .single-box-main {

      max-width: 200px;
      padding-top: 35px;
      margin-right: 15px;

      &__top-text {
         font-size: 28px;
      }

      &__title {
         font-size: 64px;
      }

      &__symbol {
         &::before {
            width: 70px;
         }

         &::after {
            width: 70px;
         }
      }

      &__subtitle {
         font-size: 72px;
      }
   }

   .triple-box-big {
      height: 127px;
      width: 364px;

      &__circle-shadow {
         width: 100px;
         height: 100px;
      }

      &__circle {
         width: 100px;
         height: 100px;

         &::before {
            width: 90px;
            height: 90px;
         }
      }

      &__top-text {
         font-size: 18px;
      }

      &__title {
         font-size: 32px;
         line-height: 32px;
      }

      &__subtitle {
         font-size: 10px;
      }
   }

   .triple-box-small {
      height: 127px;
      width: 180px;
   }

   .small-item--1 {
      font-size: 24px;

      &::before {
         right: 18px;
         bottom: 10px;
         font-size: 20px;
      }
   }

   .small-item--2 {
      .triple-box-small__content {
         padding-left: 0px;
         padding-top: 34px;
         max-width: 115px;
      }

      .triple-box-small__title {
         margin-bottom: 10px;
      }

      font-size: 20px;
      line-height: 20px;
   }

   .clothes {
      .clothes-slider {
         &__item {
            background-position: -96px 0;
         }
      }

      .clothes__content {
         margin-right: 20px;
      }

   }

}

@media(max-width: 989px) {
   .clearance__items {
      justify-content: center;
   }

   .clearance__item:nth-child(3n) {
      margin-right: 0;
   }

   .clearance__items {
      max-width: 900px;
   }

   .clothes {
      .products__items {
         justify-content: center;
      }

      .products__item:nth-child(3n) {
         margin-right: 30px;
      }

      .products__item:nth-child(2n) {
         margin-right: 0;
      }
   }

}

@media(max-width: 950px) {

   .slider {

      &__item {
         min-height: 350px;
         background-position: 200%;
      }
   }
}

@media(max-width: 930px) {
   .main-navigation {
      &__item-link {
         padding-right: 5px;

         &::after {
            right: -10px;
         }
      }
   }
}

@media(max-width: 900px) {
   .main-navigation {
      &__list {
         padding-left: 0;
      }
   }

   .brands__title {

      &::before {
         left: 0;
         width: 200px;
      }

      &::after {
         right: 0;
         width: 200px;
      }
   }

   .container {
      padding: 0 15px;
   }
}

@media(max-width: 870px) {

   .slider {
      &__item {
         background-position: 350%;
      }
   }

}

@media(max-width: 850px) {
   .burger-menu {
      display: block;
   }

   .main-navigation .main-navigation__list li {
      display: none;
   }

   .clothes-slider {
      &__item {
         background-position: -260px 0;
      }

      .slick-dots {
         padding-left: 0;
      }
   }
}

@media(max-width: 800px) {

   .slider {

      &__item {
         background-position: 700%;
      }

      &__text-top {
         font-size: 26px;
      }

      &__text-head {
         font-size: 71px;
         line-height: 54px;

         &:before {
            width: 285px;
            left: 79px;
         }

         &::after {
            width: 285px;
            left: 79px;
         }
      }

      &__text-subhead {
         font-size: 26px;
         margin-top: 10px;
      }
   }
}

@media(max-width: 765px) {
   .slider {

      &__item {
         background-position: 1000%;
      }

      &__text {
         max-width: 340px;
      }

      &__text-head {
         &::before {
            left: 25px;
         }

         &::after {
            left: 25px;
         }
      }

   }

   .clothes {

      .filter {

         display: none;

         .suggestions {
            display: none;
         }

         .filter__sizes-btn {
            font-size: 26px;
         }
      }

      .filter-menu {
         display: block;
      }

   }
}

@media(max-width: 749px) {

   .slider {
      &__text {
         margin: 0 auto;
      }
   }

   .hot-collections__triple-box {
      display: none;
   }

   .hot-collections__content {
      width: 100%;
   }

   .single-box-main {
      margin-right: 50px;
   }

   .clearance__item:nth-child(3n) {
      margin-right: 30px;
   }

   .clearance__item:nth-child(4n) {
      margin-right: 30px;
   }

}

@media(max-width: 680px) {
   .clothes-slider {
      display: none;
   }
}


@media(max-width: 650px) {
   .main-slider {
      display: none;
   }

   .products {
      &__tabs {
         display: block;
         background-color: #fd926d;
         color: #ffffff;
         font-size: 30px;
         width: 100%;
         max-width: 100%;
         margin-top: 0;
      }

      &__tabs-wrapper {
         padding-bottom: 30px;
         background-color: #fd926d;

         .container {
            padding: 0;
            margin: 0;
         }
      }

      &__tab {
         position: relative;
         padding: 25px;
         transition: none;
      }

      &__tab.current {
         background-color: #f4845d;

         &::after {
            position: absolute;
            content: "";
            right: 23px;
            top: 50%;
            border: 12px solid transparent;
            border-top-color: #fff;
         }
      }

   }

   .footer {

      .footer-menu {

         .footer-menu__line-wrapper {
            display: block;
         }
      }

      .user-helper {
         display: none;
      }

      .footer-bottom__list {
         display: none;
      }

      .footer-bottom__content {
         justify-content: flex-end;
      }


   }

   .clothes {
      &__sort-select-wrapper {
         padding-top: 10px;
      }

      &__sort-select-caption {
         margin-right: 10px;
         white-space: nowrap;
      }

      &__sort-select.select {
         width: 90%;
         height: 55px;
      }

      &__sort {
         font-size: 18px;
         display: block;
      }

      .pagination {
         display: block;
         text-align: center;
         margin-top: 15px;

         &__list {
            justify-content: center;
         }

         &__item {
            font-size: 24px;
         }

         .pagination-next,
         .pagination-prev {
            font-size: 45px;
         }

         &__item-link {
            width: 65px;
            height: 65px;
            padding: 18px;
         }
      }
   }

}

@media(max-width: 600px) {
   .header-top {

      .list::after {
         right: 10px;
         top: 40px;
         border: 11px solid transparent;
         border-top-color: #fff;
      }

      .container {
         padding: 0;
      }

      &__panel {
         display: block;
      }

      &__phone {
         width: 100%;
         text-align: center;
         background-color: #fafafa;
         font-size: 30px;
         color: #838383;
         padding: 30px 5px;
      }

      &__panel-right {
         font-size: 30px;
      }

      &__currency-list.open {
         top: 90px;
      }

      &__currency-list {
         width: 141px;
      }

      &__currency-link {
         padding: 30px 45px 30px 25px;
      }

      &__account-link {
         padding: 30px 45px 30px 115px;

         &::before {
            left: 70px;
         }
      }

      &__search-link {
         padding: 30px 20px;
         font-size: 30px;
      }
   }

   .main-navigation {
      display: block;

      .logo {
         text-align: center;
      }

      .logo__img {
         padding: 45px 5px;
         width: 350px;
      }

      &__cart {
         display: none;
      }

      &__list {
         display: block;
      }

      #cart-count {
         display: block;
         width: 100%;
         font-size: 30px;
         height: 96px;
         margin-left: 2px;
      }

      &__item &__cart-count::before {
         left: 42px;
         font-size: 42px;
         top: 50%;
         transform: translateY(-50%);
      }

      .main-navigation__item {
         margin-left: 0;
      }
   }

   .burger-menu {
      &__inner {
         height: 96px;
      }

      &__line {
         width: 33px;
         height: 6px;
         border-radius: 4px;

         &::before {
            width: 33px;
            height: 6px;
            top: 12px;
         }

         &::after {
            width: 33px;
            height: 6px;
            bottom: 12px;
         }
      }
   }

   .contacts {
      background-color: #fff;

      &__content {
         display: block;
      }

      &__email-label {
         display: none;
      }

      &__email-input {
         margin-top: 5px;
         display: block;
         background-color: #ededed;
         width: 100%;
         height: 96px;
         font-size: 30px;
         padding: 25px;
         color: #9f9f9f;
         padding-right: 104px;
      }

      &__email-btn {
         border-bottom: 8px solid #dd6b44;
         height: 96px;
         width: 96px;
         right: 0;
         top: 0;

         &::before {
            width: 11px;
            height: 37px;
         }

         &::after {
            width: 37px;
            height: 11px;
         }
      }

      &__socials {
         justify-content: center;
         align-items: center;
         margin-top: 25px;
      }

      &__socials-label {
         font-size: 26px;
         color: #6c6c6c;
         margin-right: 30px;
      }

      &__socials-link {
         background-color: #f7f7f7;
         font-size: 28px;

         &:hover {
            background-color: #ededed;
         }
      }
   }

   .brands__title {

      &::before {
         left: 0;
         width: 100px;
      }

      &::after {
         right: 0;
         width: 100px;
      }
   }

   .payment__caption {
      display: none;
   }

}

.hot-collections {
   padding-top: 20px;
}

@media(max-width: 565px) {
   .header-top {
      .header-top__account-link {
         padding: 30px 10px 30px 50px;

         &::before {
            left: 15px;
         }
      }
   }

}


@media(max-width: 465px) {
   .header-top {
      .header-top__panel-right {
         font-size: 22px;
      }
   }

   .header-top__phone {
      font-size: 26px;
   }

   .contacts {
      &__email-input {
         height: 76px;
         font-size: 24px;
         padding-right: 91px;
      }

      &__email-btn {
         width: 76px;
         height: 76px;
      }

      &__socials {
         display: block;
         text-align: center;
         margin-bottom: 20px;
      }

      &__socials-list {
         justify-content: space-around;
      }

   }

   .main-navigation__item .main-navigation__cart-count::before {
      left: 24px;
   }

   .clothes {
      .clothes__sort-select-wrapper {
         text-align: center;
         display: block;
      }

      &__sort-select.select {
         width: 100%;
         height: 70px;
      }

      &__sort-select.select::after {
         padding: 9px 30px;
      }

      &__sort-select-caption {
         margin-bottom: 10px;
      }

      .pagination__item:not(:nth-child(2)) {
         display: none;
      }

      .pagination {

         .pagination-prev,
         .pagination-next {
            display: block;
         }
      }

      .pagination__list {
         margin-left: 0;
         justify-content: flex-start;
      }

      .filter-menu {
         position: absolute;
         background-color: transparent;
         background-repeat: no-repeat;
         width: 50px;
         height: 50px;
         top: 155px;
         right: 30px;

         &::before {
            display: none;
         }

         &::after {
            display: none;
         }
      }

      .filter__sizes {
         padding-top: 30px;
      }

      .filter__sizes-btn {
         margin-bottom: 10px;
      }

      .filter__sizes-title {
         margin-top: 20px;
      }

      .filter__range {
         height: 100%;

         .filter__range-btn {
            float: none;
            margin: 0 auto;
            margin-top: 15px;
         }
      }

      #filter__range {
         margin-bottom: 20px;
         width: 100%;
      }


   }

}

@media(max-width: 420px) {
   .hot-collections {
      display: none;
   }

   .contacts__socials {
      display: block;
      text-align: center;
      margin-bottom: 40px;
   }
}

@media(max-width: 400px) {
   .header-top {
      .header-top__account-link {
         font-size: 0;
         padding-left: 130px;
         ;

         &::before {
            left: 60px;
            font-size: 46px;
         }
      }
   }

   .main-navigation .logo__img {
      width: 310px;
      padding-right: 20px;
   }
}

@media(max-width: 355px) {
   .header-top {
      .header-top__account-link {
         padding-left: 90px;

         &::before {
            left: 42px;
            font-size: 46px;
         }
      }

      .header-top__phone-link {
         display: block;
      }
   }

   .main-navigation .logo__img {
      width: 295px;
   }

   .contacts {
      &__email-input {
         padding: 20px;
      }

      &__email-btn {
         position: relative;
         top: 0;
         width: 100%;
         height: 76px;
         margin-top: 1px;
      }
   }

   .brands__title::before {
      left: 0;
      width: 80px;
   }

   .brands__title::after {
      right: 0;
      width: 80px;
   }

}