// * products 

.breadcrumbs {
   position: relative;
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   color: #79706d;
   font-size: 11px;
   line-height: 20px;
   list-style-type: '>';
   padding-left: 0;

   &::before {
      position: absolute;
      content: "";
      left: 0;
      top: -10px;
      width: 100%;
      height: 1px;
      background-color: #d6d6d6;
   }

   &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background-color: #d6d6d6;
   }

   .icon-home3 {
      font-size: 16px;
      color: #79706d;
      list-style: none;
      padding-left: 0;
   }

   &__item-link {
      padding-left: 10px;
      margin-right: 15px;
      
   }
}


.clothes-slider {
   padding-bottom: 70px;

   &__content {
      position: relative;

      &::after {
         position: absolute;
         content: "";
         height: 1px;
         width: 100%;
         background-color: #d6d6d6;
         bottom: 0;
      }
   }


   &__item {
      background-position: 50px 0;
      background-repeat: no-repeat;
      outline: none;
   }

   &__inner {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      min-height: 430px;
   }

   &__item-content {
      padding-right: 50px;
      max-width: 380px;
      width: 100%;
   }

   .slick-prev,
   .slick-next {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: transparent;
      box-shadow: none;
   }

}

.product {

   &__head {}

   &__name {}

   &__price {}

   &__text {}

   &__add-btn {
      position: relative;
      border: none;
      border-bottom: 3px solid #dd6b44;
      outline-color: #c66949;
      background-color: #fd926d;
      color: #ffffff;
      text-transform: uppercase;
      padding: 9px 30px 9px 9px;
      cursor: pointer;
      height: 50px;

      &::before {
         position: absolute;
         content: "";
         background-color: #fff;
         width: 11px;
         height: 3px;
         right: 8px;
         top: 49%;
         transform: translateY(-50%);
      }

      &::after {
         position: absolute;
         content: "";
         background-color: #fff;
         width: 3px;
         height: 11px;
         right: 12px;
         top: 49%;
         transform: translateY(-50%);
      }
   }
}

// ? sort

.clothes {
   position: relative;

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__content {}

   &__sort {
      position: relative;
      display: flex;
      justify-content: space-between;
      font-size: 11px;
      color: #4d4d4d;
      padding-bottom: 15px;

      &::after {
         position: absolute;
         content: "";
         height: 1px;
         width: 100%;
         background-color: #d6d6d6;
         bottom: 0;
      }
   }

   &__sort-select-caption {
      margin-right: 10px;
      letter-spacing: -0.5px;
   }

   &__sort-select-wrapper {
      display: flex;
      align-items: center;
   }

   .pagination {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      &__caption {}

      &__list {
         padding: 0;
         margin-left: 15px;
         display: flex;
      }

      &__item {
         margin-left: 4px;

      }

      &__item-link {
         display: inline-block;
         text-align: center;
         background-color: #f4f4f4;
         padding: 10px;
         width: 30px;
         height: 30px;
      }

      .current {
         background-color: #e5e5e5;
      }

      .pagination-next {
         font-size: 14px;

         .pagination__item-link {
            padding: 9px;
         }

      }

      .pagination-prev {
         display: none;
         font-size: 14px;

         .pagination__item-link {
            padding: 9px;
         }
      }

   }

   .products {
      &__items {
         max-width: 720px;
         margin-top: 15px;
         margin-bottom: 30px;

      }

      .goods__item-link::after {
         left: 85px;
      }

      &__item:nth-child(3n) {
         margin-right: 0;
      }
   }

   .filter {

      max-width: 230px;
      text-transform: uppercase;
      color: #727272;

      &__categories {
         width: 230px;
      }

      &__categories-head {
         margin-top: 11px;
      }

      .filter-head {
         color: #ffffff;
         background-color: #000000;
         padding: 10px;
      }


      &__categories-list {
         padding-left: 0;
         margin-top: 15px;
      }

      &__categories-item {
         cursor: pointer;
         position: relative;
         line-height: 26px;
         padding-bottom: 5px;

         &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: #d6d6d6;
         }
      }

      &__categories-item-title {
         display: block;
         position: relative;

         &::before {
            position: absolute;
            content: "";
            background-color: #000;
            width: 8px;
            height: 2px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
         }

         &::after {
            position: absolute;
            content: "";
            background-color: #000;
            width: 2px;
            height: 8px;
            right: 3px;
            top: 50%;
            transform: translateY(-50%);
            transition: all .3s ease;
         }

      }

      &__categories-item.open {
         .filter__categories-item-title {
            position: relative;
            display: block;

            &::after {
               transform: rotate(90deg);
               top: 33%;
               transition: all .3s ease;
            }
         }
      }

      &__categories-sublist {
         .current {
            font-weight: 700;
            color: #333333;
         }

         padding-left: 15px;
      }


      &__categories-subitem {
         text-transform: none;
         line-height: 18px;

         &::before {
            content: "\25A0";
            color: #fd926d;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
         }
      }

      &__range {
         height: 80px;

         .filter__range-btn {
            text-align: center;
            font-family: 'HelveticaNeueLTStd Lt';
            float: right;
            border: none;
            outline-color: #c66949;
            border-bottom: 3px solid #cccccc;
            background-color: #e5e5e5;
            color: #6f6f6f;
            text-transform: uppercase;
            padding: 9px;
            transition: all .3s ease;
            cursor: pointer;
            height: 32px;

         }

         .active {
            border-bottom: 3px solid #dd6b44;
         }

         #filter-range {
            border: 0;
            color: #848484;
            outline: none;
            float: left;
            padding: 0;
            line-height: 32px;
            width: 120px;
         }

         label {
            color: #848484;
            float: left;
            line-height: 32px;
         }

         &-slider {
            margin-top: 30px;
            margin-bottom: 15px;
            height: 5px;
         }

         .ui-slider-handle.ui-corner-all.ui-state-default {
            border-radius: 50%;
            border: none;
            background-color: #fd926d;
            box-shadow: 0px 2px 0px 0px #dd6b44;
            outline: none;
         }

         .ui-slider-range.ui-corner-all.ui-widget-header {
            height: 5px;
            background-color: #fd926d;
            outline: none;
         }

         .ui-slider-horizontal .ui-slider-range {
            top: -1px;
         }

         .ui-corner-all {
            border-radius: 0;
         }

         .ui-slider.ui-corner-all.ui-slider-horizontal.ui-widget.ui-widget-content {
            background-color: #e5e5e5;
            outline: none;
         }

         .ui-slider-horizontal .ui-slider-handle {
            top: -0.4em;

         }
      }

      &__sizes {
         text-transform: uppercase;
         margin-bottom: 35px;
      }

      &__sizes-title {
         color: #5e5e5e;
         margin-bottom: 10px;
      }

      &__sizes-btn {
         font-size: 11px;
         color: #4d4d4d;
         width: 30px;
         height: 30px;
         margin-left: 0;
         cursor: pointer;
         border: none;
         transition: all .3s ease;
         outline-color: #c66949;

      }

      &__sizes-btn+.filter__sizes-btn {
         margin-left: 7px;
      }



      .active {
         color: #fff;
         background-color: #fd926d;
         transition: all .3s ease;
      }

      .suggestions {
         &-list {
            padding-left: 0;
         }

         &-item {
            display: flex;
            position: relative;
            padding-bottom: 9px;
            padding-top: 9px;

            &::after {
               position: absolute;
               content: "";
               bottom: 0;
               width: 100%;
               height: 1px;
               background-color: #d6d6d6;
            }
         }

         &-item-link {}

         &-item-img {
            width: 70px;
         }

         &-item-text {
            margin-left: 8px;
            text-transform: uppercase;
         }

         &-item-title {
            color: #5e5e5e;
            margin-bottom: 8px;
         }

         &-item-price {
            font-size: 16px;
            font-weight: 700;
            color: #fd926d;
         }
      }

      &__featured {

         &-head {
            margin-top: 17px;
         }

      }
   }

   .filter-menu {
      display: none;
      position: sticky;
      height: 100vh;
      width: 100px;
      background-color: #d7818142;
      top: 66px;
      right: 0;
      cursor: pointer;

      &::before {
         content: "";
         position: absolute;
         background-color: #cde969;
         right: 13px;
         top: 50%;
         transform: translateY(-50%);
      }

      &::after {
         content: "Open filter here";
         white-space: nowrap;
         font-size: 64px;
         position: absolute;
         color: #ffffff;
         right: -176px;
         top: 50%;
         transform: translateY(-50%);
         transform: rotate(90deg);
      }
   }



}

#filter-pop-up {
   background-color: #fff;
   padding: 20px 30px;
   max-width: 500px;
   margin: 40px auto;
   position: relative;
   text-align: center;


   .clothes {
      .filter {
         max-width: 100%;

         &__categories {
            width: 100%;
            padding-top: 30px;
         }

         &__categories-head {
            font-size: 20px;
         }

         &__categories-item {
            font-size: 16px;
         }

         &__categories-item-title {
            padding: 10px;
         }

         &__categories-sublist {
            font-size: 18px;
         }

         &__categories-subitem {
            padding: 15px;
            background-color: rgb(226, 208, 208);
            border-bottom: 1px solid #806a63;
            border-left: 1px solid #806a63;
            border-right: 1px solid #806a63;

            &::before {
               display: none;
            }

            &:first-child {
               border-top: 1px solid #806a63;
            }
         }

         &__range {
            font-size: 20px;

            label {
               font-size: 16px;
               margin-right: 10px;
            }

            &-btn {
               padding: 15px;
               font-size: 22px;
               height: 60px;
            }
         }

         .filter__sizes-title {
            font-size: 18px;
         }

         .filter__sizes-btn {
            width: 65px;
            height: 65px;
         }
      }
   }
}

// ? sort

// * products

// * product  full

.product {

   &__main-content {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 30px;
   }

   &__images {
      cursor: pointer;
   }

   &__image-big {
      width: 400px;
      height: 500px;
   }

   &__images-small {}

   &__image-small {
      width: 90px;
      height: 110px;
      margin-left: 9px;
      margin-top: 9px;
   }

   &__image-small:first-child {
      margin-left: 0;
   }

   &__info {
      margin-left: 25px;
      padding-top: 13px;
   }

   &__back-to {
      display: block;
      position: relative;
      padding: 5px 13px 15px;

      &::before {
         font-size: 16px;
         position: absolute;
         font-family: 'icomoon';
         content: "\e905";
         left: -4px;
         top: 2px;
      }

      &::after {
         position: absolute;
         content: "";
         left: 0;
         bottom: 0;
         width: 100%;
         height: 1px;
         background-color: #d6d6d6;
      }
   }

   &__back-to-section {
      color: #fd926d;
   }

   &__name {
      font-size: 24px;
      color: #4a4a4a;
      margin-top: 18px;
      margin-bottom: 23px;
   }

   &__additional {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__price {
      font-size: 36px;
      color: #fd926d;
      margin-bottom: 23px;
      font-weight: 700;
   }

   &__reviews {
      display: flex;
   }

   &__reviews-title {
      margin-right: 13px;
   }

   &__text {
      line-height: 18px;
      color: #8f8f8f;
      padding-bottom: 20px;
   }

   &__selects {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;

      &::before {
         position: absolute;
         content: "";
         left: 0;
         top: 0;
         width: 100%;
         height: 1px;
         background-color: #d6d6d6;
      }

      &::after {
         position: absolute;
         content: "";
         left: 0;
         bottom: 0;
         width: 100%;
         height: 1px;
         background-color: #d6d6d6;
      }

   }

   &__select {
      width: 190px;
   }

   &__colors {
      display: flex;
      padding-left: 0;
   }

   &__color {
      width: 30px;
      height: 30px;
      margin-left: 1px;
      cursor: pointer;
      border: none;
   }

   &__btns {
      display: flex;
      justify-content: flex-start;
      margin-top: 25px;

      button {
         position: relative;
         border: none;
         border-bottom: 3px solid #dd6b44;
         outline-color: #c66949;
         background-color: #fd926d;
         color: #ffffff;
         text-transform: uppercase;
         padding: 9px 30px 9px 9px;
         cursor: pointer;
         height: 50px;

         &::before {
            position: absolute;
            content: "";
            background-color: #fff;
            width: 11px;
            height: 3px;
            right: 8px;
            top: 49%;
            transform: translateY(-50%);
         }

         &::after {
            position: absolute;
            content: "";
            background-color: #fff;
            width: 3px;
            height: 11px;
            right: 12px;
            top: 49%;
            transform: translateY(-50%);
         }
      }
   }

   &__count {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      font-size: 18px;
      height: 50px;


      button {
         width: 50px;
         padding: 11px;

         &::before {
            display: none;
         }

         &::after {
            display: none;
         }

         margin: 0;
      }
   }

   &__count-btn-plus {}

   &__counter {
      width: 50px;
      height: 50px;
      background-color: #feb298;
      color: #ffffff;
      font-size: 14px;
      padding: 15px;
      text-align: center;
   }

   &__count-btn-minus {}

   &__add {
      margin-left: 5px;
   }

   &__add-btn {}

   &__social {
      position: relative;
      padding: 20px 0;

      &::before {
         position: absolute;
         content: "";
         left: 0;
         top: 0;
         width: 100%;
         height: 1px;
         background-color: #d6d6d6;
      }

      &::after {
         position: absolute;
         content: "";
         left: 0;
         bottom: 0;
         width: 100%;
         height: 1px;
         background-color: #d6d6d6;
      }
   }

   &__social-list {
      display: flex;
      justify-content: space-between;
   }

   &__social-item {
      &:hover a {
         border-color: rgb(46, 125, 243);
         color: rgb(46, 125, 243);
         transition: all .3s ease;
      }
   }

   &__social-item-link {
      color: #4d4d4d;
      text-transform: uppercase;
      font-size: 11px;
      display: inline-block;
      vertical-align: middle;
      transition: all .3s ease;
      padding: 7px;
   }

   &__social-item-icon {
      font-size: 20px;
      padding: 12px;
      border: 2px solid #b8a9a4;
      border-radius: 50%;
      color: #b8a9a4;
      vertical-align: middle;
      transition: all .3s ease;
   }

   &__extra-content {}

   &__extra-content-list {
      font-size: 14px;
      color: #ffffff;
      text-transform: uppercase;
      margin: 35px 0;
      padding-left: 0;
   }

   &__list-item {
      position: relative;
      padding: 25px 25px 25px 50px;
      cursor: pointer;


      &::before {
         position: absolute;
         font-family: 'icomoon';
         content: "\e904";
         width: 24px;
         height: 24px;
         left: 15px;
         text-align: center;
         padding: 3px;
         top: 50%;
         transform: translateY(-50%);
         background-color: #f2b9a4;
         border: 1px solid #fff;

      }
   }

   &__list-item-content {
      text-transform: capitalize;
      color: #000000;
   }
}

.related {

   &__title {
      position: relative;
      text-align: center;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 700;
      color: #414141;
      margin-bottom: 40px;

      &::before {
         position: absolute;
         content: "";
         width: 390px;
         height: 1px;
         background-color: #d8d8d8;
         top: 50%;
         left: 175px;
      }

      &::after {
         position: absolute;
         content: "";
         width: 390px;
         height: 1px;
         background-color: #d8d8d8;
         top: 50%;
         right: 175px;
      }
   }

   &__items {
      max-width: 970px;
      padding-bottom: 50px;
   }

   &__item:nth-child(4n) {
      margin-right: 0;
   }

}

// * product full