// * products 

.breadcrumbs {
   position: relative;
   display: flex;
   justify-content: flex-start;
   color: #79706d;
   font-size: 11px;
   line-height: 20px;
   list-style-type: '>';
   padding-left: 0;

   &::before {
      position: absolute;
      content: "";
      left: 0;
      top: -10px;
      width: 100%;
      height: 1px;
      background-color: #d6d6d6;
   }

   &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background-color: #d6d6d6;
   }

   .icon-home3 {
      font-size: 16px;
      color: #79706d;
      list-style: none;
      padding-left: 0;
   }

   &__item {}


   .icon-home3 {
      list-style: none;
   }

   &__item-link {
      padding-left: 10px;
      margin-right: 15px;
   }
}


// * products

// * product  full

.product {

   &__main-content {
      display: flex;
      justify-content: space-between;
      padding-top: 20px;
      padding-bottom: 30px;
   }

   &__images {
      cursor: pointer;
   }

   &__image-big {
      width: 400px;
      height: 500px;
   }

   &__images-small {}

   &__image-small {
      width: 90px;
      height: 110px;
      margin-left: 9px;
      margin-top: 9px;
   }

   &__image-small:first-child {
      margin-left: 0;
   }

   &__info {
      margin-left: 25px;
      padding-top: 13px;
   }

   &__back-to {
      display: block;
      position: relative;
      padding: 5px 13px 15px;

      &::before {
         font-size: 16px;
         position: absolute;
         font-family: 'icomoon';
         content: "\e905";
         left: -4px;
         top: 2px;
      }

      &::after {
         position: absolute;
         content: "";
         left: 0;
         bottom: 0;
         width: 100%;
         height: 1px;
         background-color: #d6d6d6;
      }
   }

   &__back-to-section {
      color: #fd926d;
   }

   &__head {}

   &__name {
      font-size: 24px;
      color: #4a4a4a;
      margin-top: 18px;
      margin-bottom: 23px;
   }

   &__additional {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__price {
      font-size: 36px;
      color: #fd926d;
      margin-bottom: 23px;
      font-weight: 700;
   }

   &__reviews {
      display: flex;
   }

   &__reviews-title {
      margin-right: 13px;
   }

   &__text {
      line-height: 18px;
      color: #8f8f8f;
      padding-bottom: 20px;
   }

   &__selects {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;

      &::before {
         position: absolute;
         content: "";
         left: 0;
         top: 0;
         width: 100%;
         height: 1px;
         background-color: #d6d6d6;
      }

      &::after {
         position: absolute;
         content: "";
         left: 0;
         bottom: 0;
         width: 100%;
         height: 1px;
         background-color: #d6d6d6;
      }

   }

   &__select {
      background-color: #f4f4f4;
      color: #4d4d4d;
      padding: 8px 5px;
      width: 190px;
      position: relative;
   }

   &__colors {
      display: flex;
      padding-left: 0;
   }

   &__color {
      width: 30px;
      height: 30px;
      margin-left: 1px;
      cursor: pointer;
      border: none;
   }

   &__btns {
      display: flex;
      justify-content: flex-start;
      margin-top: 25px;

      button {
         position: relative;
         border: none;
         border-bottom: 3px solid #dd6b44;
         outline-color: #c66949;
         background-color: #fd926d;
         color: #ffffff;
         text-transform: uppercase;
         padding: 9px 30px 9px 9px;
         cursor: pointer;
         height: 50px;

         &::before {
            position: absolute;
            content: "";
            background-color: #fff;
            width: 11px;
            height: 3px;
            right: 8px;
            top: 49%;
            transform: translateY(-50%);
         }

         &::after {
            position: absolute;
            content: "";
            background-color: #fff;
            width: 3px;
            height: 11px;
            right: 12px;
            top: 49%;
            transform: translateY(-50%);
         }
      }
   }

   &__count {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      font-size: 18px;
      height: 50px;


      button {
         width: 50px;
         padding: 11px;

         &::before {
            display: none;
         }

         &::after {
            display: none;
         }

         margin: 0;
      }
   }

   &__count-btn-plus {}

   &__counter {
      width: 50px;
      height: 50px;
      background-color: #feb298;
      color: #ffffff;
      font-size: 14px;
      padding: 15px;
      text-align: center;
   }

   &__count-btn-minus {}

   &__add {
      margin-left: 5px;
   }

   &__add-btn {}

   &__social {
      position: relative;
      padding: 20px 0;

      &::before {
         position: absolute;
         content: "";
         left: 0;
         top: 0;
         width: 100%;
         height: 1px;
         background-color: #d6d6d6;
      }

      &::after {
         position: absolute;
         content: "";
         left: 0;
         bottom: 0;
         width: 100%;
         height: 1px;
         background-color: #d6d6d6;
      }
   }

   &__social-list {
      display: flex;
      justify-content: space-between;
   }

   &__social-item {
      &:hover a {
         border-color: rgb(46, 125, 243);
         color: rgb(46, 125, 243);
         transition: all .3s ease;
      }
   }

   &__social-item-link {
      color: #4d4d4d;
      text-transform: uppercase;
      font-size: 11px;
      display: inline-block;
      vertical-align: middle;
      transition: all .3s ease;
      padding: 7px;
   }

   &__social-item-icon {
      font-size: 20px;
      padding: 12px;
      border: 2px solid #b8a9a4;
      border-radius: 50%;
      color: #b8a9a4;
      vertical-align: middle;
      transition: all .3s ease;
   }

   &__extra-content {}

   &__extra-content-list {
      font-size: 14px;
      color: #ffffff;
      text-transform: uppercase;
      margin: 35px 0;
      padding-left: 0;
   }

   &__list-item {
      position: relative;
      padding: 25px 25px 25px 50px;
      cursor: pointer;


      &::before {
         position: absolute;
         font-family: 'icomoon';
         content: "\e904";
         width: 24px;
         height: 24px;
         left: 15px;
         text-align: center;
         padding: 3px;
         top: 50%;
         transform: translateY(-50%);
         background-color: #f2b9a4;
         border: 1px solid #fff;

      }
   }
   &__list-item-content {
      text-transform: capitalize;
      color: #000000;
   }
}

.related {

   &__title {
      position: relative;
      text-align: center;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 700;
      color: #414141;
      margin-bottom: 40px;

      &::before {
         position: absolute;
         content: "";
         width: 390px;
         height: 1px;
         background-color: #d8d8d8;
         top: 50%;
         left: 175px;
      }

      &::after {
         position: absolute;
         content: "";
         width: 390px;
         height: 1px;
         background-color: #d8d8d8;
         top: 50%;
         right: 175px;
      }
   }

   &__items {
      max-width: 970px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 50px;
   }

   &__item {
      max-width: 220px;
      margin-right: 30px;
      margin-bottom: 30px;
      transition: all .3s ease;

      &:hover {
         box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
         transform: scale(1.05);
         transition: all .3s ease;
      }
   }

   &__item:nth-child(4n) {
      margin-right: 0;
   }

   &__item-link {
      position: relative;

      &::before {
         opacity: 0;
         position: absolute;
         content: "\e901";
         font-family: 'icomoon';
         top: -185px;
         left: 43px;
         width: 132px;
         height: 132px;
         background-color: #3d3d3d;
         border-radius: 50%;
         color: #ffffff;
         z-index: 5;
         transition: all .3s ease;
         font-size: 30px;
         padding-top: 30px;
      }

      &::after {
         opacity: 0;
         position: absolute;
         content: "shop it";
         color: #ffffff;
         z-index: 5;
         top: -116px;
         left: 91px;
         text-transform: uppercase;
         transition: all .3s ease;
      }

   }

   &__item:hover &__item-link::before,
   &__item:hover &__item-link::after {
      opacity: 1;
   }

   &__item-content {
      position: relative;
      letter-spacing: -0.1px;
      text-transform: uppercase;
      text-align: center;
      background-color: #f7f7f7;
      padding-bottom: 10px;

   }

   &__item-content.sale::after {
      content: "";
      position: absolute;
      background-image: url(../img/sale.png);
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
   }

   &__item-img {
      width: 220px;
   }

   &__item-title {
      margin-top: 8px;
   }

   &__item-price {
      margin-top: 8px;
      font-size: 22px;
   }

   &__item-btn {
      position: relative;
      border: none;
      border-bottom: 3px solid #dd6b44;
      outline-color: #c66949;
      background-color: #fd926d;
      color: #ffffff;
      text-transform: uppercase;
      padding: 9px 30px 9px 9px;
      margin-top: 8px;
      cursor: pointer;

      &::before {
         position: absolute;
         content: "";
         background-color: #fff;
         width: 11px;
         height: 3px;
         right: 8px;
         top: 49%;
         transform: translateY(-50%);
      }

      &::after {
         position: absolute;
         content: "";
         background-color: #fff;
         width: 3px;
         height: 11px;
         right: 12px;
         top: 49%;
         transform: translateY(-50%);
      }
   }
}

// * product full