/* .block1 {
   font-family: 'HelveticaNeueLTStd HvCn', sans-serif ;
   text-transform: uppercase;
   font-size: 96px;
   line-height: 72px;
   color: #78645d;
}

.block2 {
   text-transform: uppercase;
   font-family: 'HelveticaNeueLTStd LtCn', sans-serif ;
   font-size: 36px;
   color: #78645d;
} */

@import "global";
@import "header";
@import "slider";
@import "footer";




@import "media";