@import "global";
@import "header";
@import "slider";
@import "footer";


// Contacts 

.contacts {
   background-color: #ededed;
   overflow: hidden;

   &__content {
      line-height: 55px;
      letter-spacing: -0.5px;
      display: flex;
      justify-content: space-between;

   }

   &__email {
      position: relative;

      &-label {
         margin-right: 8px;
      }

      &-input {
         font-style: italic;
         padding: 8px 20px 8px 10px;
         border: none;
         outline-color: #eaa867;
      }

      &-btn {
         position: absolute;
         border: none;
         border-bottom: 3px solid #dd6b44;
         outline: none;
         color: #ffffff;
         background-color: #fd926d;
         cursor: pointer;
         height: 29px;
         width: 28px;
         right: 0;
         top: 13px;

         &::before {
            position: absolute;
            content: "";
            background-color: #fff;
            width: 11px;
            height: 3px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%)
         }

         &::after {
            position: absolute;
            content: "";
            background-color: #fff;
            width: 3px;
            height: 11px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%)
         }
      }
   }

   &__socials {
      display: flex;
      justify-content: space-between;
   }

   &__socials-label {
      margin-right: 10px;
   }

   &__socials-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;
   }

   &__socials-item {}

   &__socials-link {
      padding: 22px 17px;
      font-size: 22px;
      background-color: transparent;
      vertical-align: middle;
      transition: all .3s ease;
   }

   &__socials-link:hover {
      background-color: #f7f7f7;
      transition: all .3s ease;
   }

}

// Contacts 

// hot-collections

.hot-collections {
   padding-top: 40px;
   padding-bottom: 52px;

   a {
      display: block;
   }

   &__content {
      display: flex;
      justify-content: center;
      min-height: 340px;
      text-transform: uppercase;
      text-align: center;

   }

   &__single-box {
      display: block;
      background-image: url(../img/single-box-item.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top left;
      max-width: 484px;
      width: 100%;
      height: 340px;
      display: flex;
      margin-right: 2px;
   }

   &__triple-box {
      display: flex;
      flex-wrap: wrap;
   }
}

.single-box-main {
   margin-left: auto;
   margin-right: 30px;
   max-width: 300px;
   padding: 5px;
   padding-top: 65px;



   &__top-text {
      font-family: 'HelveticaNeueLTStd BlkCn', sans-serif;
      font-size: 34px;
      line-height: 20px;
      color: #414141;
   }

   &__title {
      font-family: 'HelveticaNeueLTStd ThCn', sans-serif;
      font-size: 74px;
      color: #414141;
   }

   &__symbol {
      position: relative;
      width: 33px;
      height: 33px;
      border-radius: 50%;
      margin: -10px auto;
      padding: 3px;
      font-family: 'HelveticaNeueLTStd LtIt', sans-serif;
      font-size: 22px;
      color: #ffffff;
      background-color: #414141;

      &::before {
         position: absolute;
         content: "";
         width: 87px;
         height: 1px;
         right: 35px;
         bottom: 15px;
         background-color: #414141;
      }

      &::after {
         position: absolute;
         content: "";
         width: 87px;
         height: 1px;
         left: 35px;
         bottom: 15px;
         background-color: #414141;
      }

   }

   &__subtitle {
      font-family: 'HelveticaNeueLTStd BlkCn', sans-serif;
      font-size: 82px;
      color: #4fafa0;
   }
}

.triple-box-big {
   position: relative;
   height: 169px;
   max-width: 484px;
   width: 100%;
   background-image: url(../img/triple-box-big.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;

   &__circle-shadow {
      position: absolute;
      width: 130px;
      height: 130px;
      background-color: #4fafa0;
      border-radius: 50%;
      left: 30px;
      top: 20px;
      box-shadow: 0px 4px 0px 0px rgba(79, 175, 160, 0.004);
      z-index: 0;
   }

   &__circle {
      position: relative;
      width: 130px;
      height: 130px;
      background-color: #fff;
      border-radius: 50%;
      padding: 20px 2px 2px 2px;
      margin-left: 30px;
      margin-top: 16px;

      &::before {
         position: absolute;
         content: "";
         width: 122px;
         height: 122px;
         border: 1px solid rgb(218, 234, 235);
         border-radius: 50%;
         left: 4px;
         top: 4px;
      }

   }

   &__top-text {
      font-family: 'BelloScript';
      font-size: 22px;
      text-transform: capitalize;
      color: #ffa687;
   }

   &__title {
      font-family: 'HelveticaNeueLTStd UltLtCn', sans-serif;
      font-size: 42px;
      color: #c1aea8;
   }

   &__subtitle {
      font-family: 'HelveticaNeueLTStd BdCn', sans-serif;
      font-size: 14px;
      color: #6a6a6a;
   }
}

.triple-box-big-symbol {}

.triple-box-small {
   color: #ffffff;
   max-width: 241px;
   height: 169px;
   width: 100%;
   margin-right: 2px;
   margin-top: 2px;

   &__btn {
      position: relative;
      font-family: "HelveticaNeueLTStd Lt";
      font-size: 12px;
      line-height: 30px;
      margin-top: 12px;
   }

   .list::after {
      right: 25px;
      top: 10px;
      border: 5px solid transparent;
      border-left-color: #fff;
   }

   &__link {
      display: inline-block;
      font-size: 12px;
      font-family: "HelveticaNeueLTStd Lt", sans-serif;
      line-height: 30px;
      padding: 0 25px 0 7px;
      background-color: #4fafa0;
      
   }

   &__content {
      max-width: 150px;
      padding-left: 16px;
      padding-top: 45px;
   }

}

.small-item--1 {
   position: relative;
   background-image: url(../img/triple-box-small-1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;

   font-family: "HelveticaNeueLTStd UltLtCn";
   font-size: 34px;
   text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.19);
   display: flex;
   align-items: flex-end;
   justify-content: center;
   padding-bottom: 8px;
   box-shadow: inset 0px -17px 39px -21px rgba(0, 0, 0, 0.75);
   padding-right: 20px;
   

   &::before {
      position: absolute;
      content: "\e904";
      font-family: 'icomoon';
      right: 15px;
      bottom: 12px;
      font-size: 26px;
   }
}

.small-item--2 {
   background-image: url(../img/triple-box-small-2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;

   font-size: 24px;
   font-family: "HelveticaNeueLTStd Cn";
   line-height: 30px;
}

// hot-collections

// products

.products {

   &__tabs {
      font-family: 'Arial', sans-serif;
      font-size: 15px;
      text-transform: uppercase;
      color: #555555;
      letter-spacing: -0.1px;
      display: flex;
      justify-content: flex-start;
      max-width: 500px;
      padding: 0;
      margin-bottom: 0;
   }

   &__tab {
      cursor: pointer;
      padding: 12px 14px 14px 12px;
      transition: all .3s ease;
   }

   &__tab.current {
      background-color: #fd926d;
      color: #ffffff;
   }

   &__tab-content {
      padding-top: 30px;
      padding-bottom: 30px;
      min-height: 455px;
      width: 100%;
      background-color: #fd926d;
   }

   &__slider {
      .slick-slide {
         margin-right: 30px;
         margin-left: 30px;
      }

      &-item-link {
         position: relative;
         display: block;
         cursor: pointer;
         outline: none;
      }

      &-item:hover &-item-link {
         box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
         transition: all .3s ease;
      }

      &-item:hover {
         transform: scale(1.05);
      }


      &-item:hover &-item-link::before,
      &-item:hover &-item-link::after {
         opacity: 1;
         transition: all .3s ease;
      }

      &-item-link::before {
         opacity: 0;
         position: absolute;
         content: "\e901";
         font-family: 'icomoon';
         top: 100px;
         left: 43px;
         width: 132px;
         height: 132px;
         background-color: #3d3d3d;
         border-radius: 50%;
         color: #ffffff;
         z-index: 5;
         transition: all .3s ease;
         font-size: 30px;
         padding-top: 30px;
      }

      &-item-link::after {
         opacity: 0;
         position: absolute;
         content: "shop it";
         color: #ffffff;
         z-index: 5;
         top: 44%;
         left: 85px;
         text-transform: uppercase;
         transition: all .3s ease;
      }

   }

   &__slider-item {
      height: 415px;
      width: 220px;
      letter-spacing: -0.1px;
      color: #373737;
      text-align: center;
      padding-bottom: 8px;
      padding-top: 8px;
      outline: none;
      transition: all .5s ease;


      &-content {
         position: relative;
         padding-bottom: 8px;
         width: 220px;
         background-color: #ffffff;
      }

   }

   &__slider-item-img {
      height: 290px;
      width: 220px;
      margin-bottom: 8px;
   }

   &__slider-item-content.sale::after {
      content: "";
      position: absolute;
      background-image: url(../img/sale.png);
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
   }

   &__slider-item-title {
      font-family: 'Arial', sans-serif;
      text-transform: uppercase;
   }

   &__slider-item-price {
      font-size: 22px;
      margin-top: 8px;
   }

   &__slider-item-btn {
      position: relative;
      border: none;
      border-bottom: 3px solid #dd6b44;
      outline-color: #c66949;
      background-color: #fd926d;
      color: #ffffff;
      text-transform: uppercase;
      padding: 9px 30px 9px 9px;
      margin-top: 8px;
      cursor: pointer;

      &::before {
         position: absolute;
         content: "";
         background-color: #fff;
         width: 11px;
         height: 3px;
         right: 8px;
         top: 49%;
         transform: translateY(-50%);
      }

      &::after {
         position: absolute;
         content: "";
         background-color: #fff;
         width: 3px;
         height: 11px;
         right: 12px;
         top: 49%;
         transform: translateY(-50%);
      }
   }

   //Slick

   .slick-prev,
   .slick-next {
      position: absolute;
      width: 47px;
      height: 48px;
      background-color: #f2f2f2;
      z-index: 6;
      border: none;
      cursor: pointer;
      outline: none;
      font-size: 0;
      box-shadow: none;
      right: 456px;
      top: -54px;
      transition: all .3s ease;

      &:hover {
         background-color: #fd926d;
         transition: all .3s ease;
      }
   }

   .slick-arrow:hover::before {
      color: #fff;
      transition: all .3s ease;
   }

   .slick-next {
      box-shadow: none;
   }

   .slick-prev.slick-arrow {
      left: 1328px;
      transform: translateY(-50%);

      &::before {
         position: absolute;
         font-family: 'icomoon';
         content: "\e905";
         top: 50%;
         left: 7px;
         transform: translateY(-50%);
         font-size: 30px;
         transition: all .3s ease;
      }
   }

   .slick-next.slick-arrow {

      transform: translateY(-50%);

      &::before {
         position: absolute;
         font-family: 'icomoon';
         content: "\e904";
         left: -3px;
         top: 50%;
         transform: translateY(-50%);
         font-size: 30px;
         transition: all .3s ease;
      }
   }

   //Slick

}

// products

// clearance

.clearance {
   &__sticker {
      position: relative;
      font-family: 'a Empirial', sans-serif;
      background-image: url(../img/clearance.png);
      background-repeat: no-repeat;
      background-position: center center;
      width: 165px;
      height: 165px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      padding-top: 25px;
      margin: 20px auto;

      &::before {
         position: absolute;
         content: "";
         width: 390px;
         height: 1px;
         background-color: #d8d8d8;
         top: 50%;
         left: 175px;
      }

      &::after {
         position: absolute;
         content: "";
         width: 390px;
         height: 1px;
         background-color: #d8d8d8;
         top: 50%;
         right: 175px;
      }
   }

   &__title {
      font-size: 36px;
   }

   &__discount {
      position: relative;
      margin-top: 8px;
      margin-right: 20px;
      font-size: 81px;
      line-height: 60px;
      letter-spacing: -2.5px;

      &::before,
      &::after {
         position: absolute;
         font-size: 36px;
         letter-spacing: -1px;
      }

      &::before {
         content: "%";
         top: -15px;
         right: 36px;
      }

      &::after {
         content: "off";
         top: 14px;
         right: 31px;
      }
   }
}

.clearance {

   &__items {
      max-width: 970px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 50px;
   }

   &__item {
      max-width: 220px;
      margin-right: 30px;
      margin-bottom: 30px;
      transition: all .3s ease;

      &:hover {
         box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
         transform: scale(1.1);
         transition: all .3s ease;
      }
   }

   &__item:nth-child(4n) {
      margin-right: 0;
   }

   &__item-link {}

   &__item-content {
      position: relative;
      letter-spacing: -0.1px;
      text-transform: uppercase;
      text-align: center;
      background-color: #f7f7f7;
      padding-bottom: 10px;

   }

   &__item-content.sale::after {
      content: "";
      position: absolute;
      background-image: url(../img/sale.png);
      width: 50px;
      height: 50px;
      top: 0;
      left: 0;
   }

   &__item-img {
      width: 220px;
   }

   &__item-title {
      margin-top: 8px;
   }

   &__item-price {
      margin-top: 8px;
      font-size: 22px;
   }

   &__item-btn {
      position: relative;
      border: none;
      border-bottom: 3px solid #dd6b44;
      outline-color: #c66949;
      background-color: #fd926d;
      color: #ffffff;
      text-transform: uppercase;
      padding: 9px 30px 9px 9px;
      margin-top: 8px;
      cursor: pointer;


      &::before {
         position: absolute;
         content: "";
         background-color: #fff;
         width: 11px;
         height: 3px;
         right: 8px;
         top: 49%;
         transform: translateY(-50%);
      }

      &::after {
         position: absolute;
         content: "";
         background-color: #fff;
         width: 3px;
         height: 11px;
         right: 12px;
         top: 49%;
         transform: translateY(-50%);
      }
   }
}


// clearance

// brands carousel

.brands {
   position: relative;
   padding-bottom: 20px;

   &::after {
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #d8d8d8;
   }
}

.brands__title {
   position: relative;
   font-size: 15px;
   font-weight: 700;
   text-align: center;
   margin-bottom: 10px;
   text-transform: uppercase;

   &::before {
      position: absolute;
      content: "";
      left: 772px;
      top: 8px;
      width: 80%;
      height: 1px;
      background-color: #d8d8d8;
   }

   &::after {
      position: absolute;
      content: "";
      right: 772px;
      top: 8px;
      width: 80%;
      height: 1px;
      background-color: #d8d8d8;
   }
}

.owl-carousel .owl-item img {
   width: auto;
   margin: 0 auto;
}

.owl-stage {
   display: flex;
   align-items: center;
}

// brands carousel

// about


.about {
   text-align: center;
   letter-spacing: -0.1px;

   &__title {
      font-size: 24px;
      color: #414141;
      margin-bottom: 13px;
   }

   &__text {
      font-size: 14px;
      line-height: 18px;
      color: #999999;
      padding-bottom: 25px;
   }
}


// about







@import "media";